.table-header {
    text-align: left;
    padding: 10px 0px;
    font-weight: 500;
    font-size: 1rem;
}
/*Table Items Animation*/
@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(32px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.row-animate {
    opacity: 0;
}
.row-animate.animate {
    animation: slideInRight 0.2s ease forwards;
}
.row-animate.done {
    opacity: 1;
    transform: none;
    animation: none;
}